#root {
  text-align: center;
  width: 100%;
}

body {
  background: #00467F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* css for screens between 576px and 992px (tablet */
@media (min-width: 576px) and (max-width: 992px) {
  .designer-text,
  .copyright-text {
    font-size: 14px;
  }
}
/* css for screens greater than 992px desktop */
@media (min-width: 992px) {
  .designer-text,
  .copyright-text {
    font-size: 16px;
  }
}
/* css for screens greater than 1200px large desktop */
@media (min-width: 1200px) {
  .designer-text,
  .copyright-text {
    font-size: 18px;
  }
}

/*  @media screen and (max-width: 640px) { */

/* intro section 75% smaller to fit on page comfortably */
/* #intro-section { */
/* transform: scale(75%); */
/* transition: all 1s ease-in-out; */
/* } */
/* } */