.site-title {
    font-family: 'Libre Bodoni', 'sans-serif-medium';
    font-size: 60px;
    color: black;
}
.site-description {
    font-size: 50px;
    color: black;
}
.container {
    margin-top: 50px;
    margin-bottom: 50px;

} 
.container {
    height: 100vh; /* Set the container's height to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*background image*/

.back-img {
    background-image: url('../../assets/images/nyc.jpg');
    background-size: cover;
    height: 400px;
    width: 100%;
    background-position: center;
    flex-grow: 1;
    background-repeat: no-repeat;
}