.site-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    padding: 10px;
    color: blue;
}

/*background image*/

.back-img {
    background-image: url('../../assets/pink-back.jpeg');
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*quote footer*/
.blockquote p {
    padding: 10px;
    font-size: 30px;
}

.blockquote-footer {
    color: #404040;
}