.site-title {
    font-family: 'Libre Bodoni', 'sans-serif-medium';
    font-size: 60px;
    color: rgb(17, 2, 2);
}
/*.container {
    margin-top: 100px;
    margin-bottom: 100px;
}*/

/*background image*/

.back-img {
    background-image: url('../../assets/images/nyc.jpg');
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
