.event-sports{
    flex-direction: column;
    justify-content: flex-end;

}
.event-sports li {
    list-style-type: none;
    margin-right: 30px;
}

.event-sports ul img{
    margin-right: 30px;
}

@media screen and (max-width: 900px){

}

// Adjustments