.page {
    width: 100%;
    height: 100%;

}

/* CSS for the footer */
.footer {
   
    position: fixed;
    width: 100%;
    margin: 0;
    align-items: center;
    color: white;
    // bottom: 0;
    // left: 0;
    // width: 100%;
    // // background-color: red; /* Set your desired background color */
    // text-align: center; /* Center the content horizontally */
    // // padding: 10px; /* Adjust the padding as needed */
    // color: white;
  }
